@import url(./css/normalize.css);
@import url(./css/header.css);
@import url(./css/main.css);
@import url(./css/footer.css);

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Bungee Spice', cursive;
}

